.idea
web/*.iml
app/*.iml
*target
web/target
app/target
*.iml
web/.idea
app/.idea
web/wildfly.docker
Różne_druty_na_brudno.txt

out/

web.xml
web/src/main/webapp/WEB-INF/web.xml
web/src/main/resources/google.properties
